TRAVELSMART_DATABASE_URL=sqlite:///data/travelsmart.db
TRAVELSMART_OSRM_URL=https://router.project-osrm.org
TRAVELSMART_TIMEZONE=Europe/Brussels
TRAVELSMART_COLLECT_WORKERS=8
TRAVELSMART_MIV_INTERVAL_MINUTES=5
TRAVELSMART_DATEX_INTERVAL_MINUTES=2

TOMTOM_API_KEY=your_tomtom_api_key_here
TOMTOM_API_KEY2=your_second_tomtom_account_key_here
HERE_API_KEY=your_here_api_key_here
